.App {
  text-align: center;
}

.contenedor, p, h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li{
  list-style:none;
  display: flex;
  justify-content:space-between;
  
}
.fondopizza {
  background-image: url("assets/img/wall.jpg");
	text-align: center;
	background-size: cover;
	position: relative;
  height: 170px;
  width: auto;
  margin-bottom: 25px;
}

.fondopizza:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.fondopizza h2, h5 {
  padding-top: 8px;
	font-size: 60px;
	color: #fff;
	position: relative
}

.picture{
  width: 100px;
  height: auto;
}
.colleft{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}
.botones{
  margin-left: 20px;
  margin-right: 20px;
}
.preciopizza{
  color: rgb(48, 141, 53);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.posiboton, h3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}